.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-shadow: 3px 3px 2px 2px rgba(114, 114, 114, 0.75);
}

.product:hover {
  box-shadow: 7px 7px 20px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  margin-top: 10px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
